<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="QobuzDownloaderX.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>
    <userSettings>
        <QobuzDownloaderX.Properties.Settings>
            <setting name="savedFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="savedAppID" serializeAs="String">
                <value />
            </setting>
            <setting name="savedEmail" serializeAs="String">
                <value />
            </setting>
            <setting name="savedPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="savedFormatID" serializeAs="String">
                <value />
            </setting>
            <setting name="UpgradeRequired" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="albumTag" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="artistTag" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="albumArtistTag" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="trackTag" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="totalTracksTag" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="discTag" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="totalDiscsTag" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="genreTag" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="isrcTag" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="upcTag" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="copyrightTag" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="yearTag" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="explicitTag" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="imageTag" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="commentTag" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="composerTag" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="trackTitleTag" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="commentText" serializeAs="String">
                <value />
            </setting>
            <setting name="quality1" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="quality2" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="quality3" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="quality4" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="qualityFormat" serializeAs="String">
                <value>27</value>
            </setting>
            <setting name="audioType" serializeAs="String">
                <value>.flac</value>
            </setting>
            <setting name="savedUserID" serializeAs="String">
                <value />
            </setting>
            <setting name="savedUserAuthToken" serializeAs="String">
                <value />
            </setting>
            <setting name="savedAltLoginValue" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="savedArtSize" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="typeTag" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="savedMaxLength" serializeAs="String">
                <value>36</value>
            </setting>
            <setting name="savedFilenameTemplate" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="savedFilenameTemplateString" serializeAs="String">
                <value>
                </value>
            </setting>
        </QobuzDownloaderX.Properties.Settings>
    </userSettings>
</configuration>
