<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Bcl.HashCode" version="6.0.0" targetFramework="net48" />
  <package id="Microsoft.CSharp" version="4.7.0" targetFramework="net46" />
  <package id="Newtonsoft.Json" version="13.0.4" targetFramework="net48" />
  <package id="Ookii.Dialogs.WinForms" version="4.0.0" targetFramework="net48" />
  <package id="System.Buffers" version="4.6.1" targetFramework="net48" />
  <package id="System.Collections.Immutable" version="10.0.2" targetFramework="net48" />
  <package id="System.Formats.Nrbf" version="10.0.2" targetFramework="net48" />
  <package id="System.Memory" version="4.6.3" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.6.1" targetFramework="net48" />
  <package id="System.Reflection.Metadata" version="10.0.2" targetFramework="net48" />
  <package id="System.Resources.Extensions" version="10.0.2" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.1.2" targetFramework="net48" />
  <package id="System.ValueTuple" version="4.6.1" targetFramework="net48" />
  <package id="taglib" version="2.1.0.0" targetFramework="net46" />
  <package id="ZetaLongPaths" version="1.0.17" targetFramework="net472" />
</packages>