<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.CSharp" version="4.7.0" targetFramework="net46" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net472" />
  <package id="QopenAPI" version="0.0.3.1" targetFramework="net472" />
  <package id="taglib" version="2.1.0.0" targetFramework="net46" />
  <package id="ZetaLongPaths" version="1.0.17" targetFramework="net472" />
</packages>